importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline", "axis", "legend", "plot", "points", "segments")
importFrom("stats", "anova", "lm", "p.adjust")
importFrom("utils", "read.table")
importFrom("GNapi", "get_pheno", "info_dataset", "list_datasets")

export(download.BXD.genotypes)
export(calculate.cM.positions)
export(only.BXD.genotypes)
export(add.PandF1)
export(recode.BXD.to.MAF)
export(recode.BXD.genotypes)
export(download.BXD.phenotypes)
export(as.phenotype.matrix)
export(only.phenosomes)
export(do.BXD.phewas)
export(get.map)
export(get.annotation)
export(get.significant)
export(plot.phewas)
export(plot.map)
export(plot.qtl)

export(bxd.genotypes)
export(bxd.phenotypes)