importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline", "axis", "legend", "plot", "points", "segments", "par", "rect", "box")
importFrom("stats", "anova", "lm", "p.adjust", "optimize", "pchisq", "cor", "rnorm")
importFrom("utils", "read.table")
importFrom("GNapi", "get_pheno", "list_datasets")
importFrom("utils", "data")
importFrom("parallel", "parApply", "makeCluster", "stopCluster")
importFrom("RColorBrewer", "brewer.pal")

export(download.BXD.genotypes)
export(calculate.cM.positions)
export(only.BXD.genotypes)
export(add.PandF1)
export(recode.BXD.to.MAF)
export(recode.BXD.genotypes)
export(download.BXD.phenotypes)
export(as.phenotype.matrix)
export(phenotype.add.class)
export(only.phenosomes)
export(do.BXD.phewas)
export(get.map)
export(get.annotation)
export(get.significant)
export(plot.phewas)
export(plot.map)
export(plot.qtl)
export(plot.epochs)

export(calc.alleleFrequency)
export(calc.alleleFrequencies)
export(calc.MAF)

export(calc.likelihood)
export(calc.LD)
export(calc.LD.marker)

export(calc.correlations)

export(calc.qtl)

export(midpoints)